$black: #0C0E16;
$white: #FFF;

$violet: #7C5DFA;
$violet-lighter: #7E88C3;
$violet-light: #888EB0;
$violet-gray: #858BB2;
$violet-hover: #9277FF;

$bg-gray: #F8F8FB;

$red: #EC5757;
$red-light: #FF9797;

$green: #33D69F;
$orange: #FF8F00;
$gray: #373B53;

$green-light: rgba(51, 214, 159, .06);
$orange-light: rgba(255, 143, 0, .06);
$gray-light: rgba(55, 59, 83, .06);