$violet: #7C5DFA;
$violet-lighter: #9277FF;
$violet-light: #DFE3FA;
$violet-gray: #7E88C3;

$gray: #888EB0;
$gray-lighter: #F8F8FB;

$dark: #1E2139;
$dark-lighter: #1E2139;

$black: #0C0E16;
$black-lighter: #141625;

$red: #EC5757;
$red-lighter: #FF9797;