// Font size

$font-xl: 32px;
$font-lg: 20px;
$font-md: 16px;
$font-sm: 12px;
$font-xs: 11px;

// Line height

$line-xl: 36px;
$line-lg: 24px;
$line-md: 22px;
$line-sm: 18px;
$line-xs: 15px;

// Letter spacing

$letter-xl: -1px;
$letter-lg: -0.8px;
$letter-md: -0.63px;
$letter-sm: -0.25px;
$letter-xs: -0.23px;

// Font weight

$font-bold: 700;
$font-medium: 500;