.btn {
  border: 0;
  border-radius: 24px;
  cursor: pointer;
  font-size: $font-sm;
  font-weight: $font-bold;
  padding: 8px 16px 8px 8px;
}

.btn-purple {
  background-color: $violet;
  color: #FFF;
  &:hover {
    background-color: $violet-lighter;
  }
}

.btn-light {
  background-color: $gray-light;
  color: $violet-gray;
  &:hover {
    background-color: $violet-light;
  }
}

.btn-dark {
  background-color: #373B53;
  color: $gray;
  &:hover {
    background-color: $black;
  }
}

.btn-red {
  background-color: $red;
  color: #FFF;
  &:hover {
    background-color: red-light;
  }
}