.gray {
  color: $gray;
}

.black {
  color: $black;
}

.violet-gray {
  color: $violet-gray;
}

.green {
  color: $green;
}

.orange {
  color: $orange;
}

.bg-orange {
  background-color: $orange-light;
}

.bg-green {
  background-color: $green-light;
}

.bg-white {
  background-color: #FFF;
}

.bg-gray {
  background-color: rgba(151, 151, 151, .05);
}
