.gray {
  color: $gray; //#888EB0
}

.black {
  color: $black; //#0C0E16
}

.violet-gray {
  color: $violet-gray; //#7E88C3
}

.green {
  color: $green;
}

.orange {
  color: $orange;
}

.bg-orange {
  background-color: $orange-light;
}

.bg-green {
  background-color: $green-light;
}

.bg-white {
  background-color: #FFF;
}

.bg-gray {
  background-color: rgba(151, 151, 151, .05);
}
