.container {
  max-width: 730px;
  margin: 0 auto;
  padding: 64px 0;
}

.flex {
  display: flex;
}

.justify-c {
  justify-content: center;
}

.justify-sb {
  justify-content: space-between;
}

.align-c {
  align-items: center;
}

.col {
  flex-direction: column;
}