.container {
  max-width: 730px;
  margin: 0 auto;
}

.flex-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}