.input-label {
  color: $violet-gray;
  font-size: $font-sm;
  margin-bottom: 16px;
}

.input {
  background-color: #FFF;
  border: $violet-light;
  color: $black;
  padding: 16px 20px;
  &:focus {
    border: $violet-lighter;
  }
}