.mb-16 {
  margin-bottom: 1rem;
}

.mb-24 {
  margin-bottom: 1.5rem;
}

.mb-64 {
  margin-bottom: 4rem;
}

.mr-12 {
  margin-right: 0.75rem;
}

.mr-8 {
  margin-right: 0.5rem;
}

.mr-16 {
  margin-right: 1rem;
}

.mr-40 {
  margin-right: 2.5rem;
}

.py-16 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-32 {
  padding-left: 2rem;
  padding-right: 2rem;

}

.px-24 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-24 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}